body{

background:#0b1622;
color:white;
font-family:Arial;
margin:0;

}

.navbar{

display:flex;
align-items:center;
justify-content:space-between;

background:#0f1c2b;

padding:10px 20px;

border-bottom:1px solid #1c2d40;

}

.logoArea{

display:flex;
align-items:center;
gap:10px;

}

.logoImg{

width:40px;
height:40px;
border-radius:8px;

}

.logoText{

font-size:24px;
font-weight:900;

}

.navLinks{

display:flex;
gap:8px;

}

.navLinks button{

background:#13263b;
border:none;
padding:8px 12px;
border-radius:10px;
color:white;
cursor:pointer;

}

.navLinks button:hover{

background:#1b3550;

}

.rightSide{

display:flex;
align-items:center;
gap:10px;

}

#search{

padding:6px;
border-radius:8px;
border:none;
background:#13263b;
color:white;

}

.adminCorner{

background:#2c5cff;
padding:6px 10px;
border-radius:8px;
cursor:pointer;
font-weight:bold;

}

.loginBox{

position:fixed;
top:70px;
right:20px;

background:#13263b;

padding:15px;

border-radius:10px;

display:flex;
flex-direction:column;
gap:6px;

}

.hidden{

display:none;

}

.addBtn{

position:fixed;
bottom:20px;
right:20px;

background:#2c5cff;
border:none;
padding:10px 15px;
border-radius:10px;
color:white;
font-weight:bold;
cursor:pointer;

}

#players{

padding:20px;

}

.player{

background:#13263b;

margin-bottom:10px;

padding:12px;

border-radius:10px;

display:flex;
justify-content:space-between;
align-items:center;

}

.tier{

font-weight:900;
padding:5px 10px;
border-radius:6px;

}

.ht3,.ht4,.ht5{

color:gold;

}

.lt3,.lt4,.lt5{

color:#7cc0ff;

}
