body{

background:#0f172a;
color:white;
font-family:Arial;
padding:20px;

}

.title{

font-size:40px;

}

.topbar{

display:flex;
justify-content:space-between;
margin-bottom:20px;

}

#search{

padding:8px;
border-radius:6px;
border:none;

}

.login input{

padding:6px;
margin-right:5px;

}

.login button{

padding:6px 10px;

}

.modes{

margin-bottom:20px;

}

.mode{

padding:8px 12px;
margin-right:5px;
background:#1f2937;
border:none;
color:white;
border-radius:6px;
cursor:pointer;

}

.mode.active{

background:#2563eb;

}

.player{

display:flex;
justify-content:space-between;
align-items:center;
background:#1e293b;
padding:10px;
margin-bottom:10px;
border-radius:8px;

}

.left{

display:flex;
align-items:center;
gap:10px;

}

.skin{

width:32px;
height:32px;
border-radius:4px;

}

.tiers{

display:flex;
gap:6px;
flex-wrap:wrap;

}

.modeName{

background:#334155;
padding:4px 6px;
border-radius:5px;
font-size:12px;

}

.tier{

padding:4px 6px;
border-radius:5px;
font-size:12px;

}

.ht{

background:#ef4444;

}

.lt{

background:#3b82f6;

}

.adminButtons button{

margin-left:5px;
cursor:pointer;

}

.hidden{

display:none;

}
